[submodule "UTSVT-KiCadLibraries"]
	path = UTSVT-KiCadLibraries
	url = git@github.com:lhr-solar/UTSVT-KiCadLibraries.git
	branch = PeripheralSOMChanges
[submodule "KiCAD-Bild"]
	path = KiCAD-Bild
	url = https://github.com/lhr-solar/KiCAD-Bild.git
